@use "../base" as *;
@use "../components" as *;

.blog-detail {
  padding: 34px 0 139px 0;
  background-color: $background-color;

  @include mq("md") {
    padding-bottom: 30px;
  }
}

.blog-detail__article {
  background-color: $white;
  padding: 41px 40px 23px 40px;
  border-radius: 10px;

  @include mq("sm"){ 
    padding: 20px 16px 10px 16px;
  }
}

.blog-detail__inner {
  padding-left: clamp(1rem, -4rem + 20vw, 20rem);
  padding-right: clamp(1rem, -4rem + 20vw, 20rem);
}

.blog-detail__meta {
  font-size: 0.875rem;

  &::before {
    content: "";
    background: url(../img/icon/books.svg) no-repeat center;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    vertical-align: middle;
  }
}


.blog-detail__title {
  margin-top: 25px;
  font-size: 32px;
  line-height: 1.7;

  @include mq("md") {
    font-size: 20px;
  }
}

.blog-detail__image {
  margin-top: 41px;
  aspect-ratio: calc(720 / 411);
  img {
    width: 100%;
  }
}

.blog-detail__body {
  margin-top: 45px;
  line-height: 1.8;

  p {
    margin-top: 50px;
  }
}

.blog-detail__heading {
  margin-top: 23px;
}

.blog-detail__pagination {
  display: flex;
  align-items: center;
  background-color: #F0F0F0;
}

.pagination-link__text-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.pagination-link__text {
  color: $black;
  line-height: 1.7;
}

.pagination-link__date {
  color: $black;
  font-size: 14px;
}

.blog-detail__pagination-prev {
  flex: 1;
  align-items: center;
 
.pagination-link {
  padding: 31px 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  transition: all 0.3s ease;

  @include mq("lg") {
    padding: 25px 0;
  }

  @include mq("sm"){ 
  gap: 0px;
  }

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("../img/blog/arrow02-left.png") no-repeat center/contain;
  }
 &:hover {
  opacity: 0.5;
 }
}
}

@include mq("sm") {
  .pagination-link__text {
    max-width: 40vw;          // スマホでの最大幅を設定（調整可能）
    white-space: nowrap;      // 折り返さない
    overflow: hidden;         // はみ出しを隠す
    text-overflow: ellipsis;  // 省略記号を表示
  }
}


.blog-detail__separator {
  width: 1px;
  height: 56px; /* 棒の長さは自由に調整できる */
  background-color: $black; /* 線の色 */
  transform: rotate(0deg); /* 今回は回転させず普通の縦棒でOK */
  padding-right: 1px;
}


.blog-detail__pagination-next {
  flex: 1;
  .pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
    transition: all 0.3s ease;

    @include mq("md"){
      margin-left: 10px;
      gap: 0px;
    }
  
    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background: url("../img/blog/arrow02-right.png") no-repeat center/contain;
    }
    &:hover {
      opacity: 0.5;
     }
  }
}



