@use "../base" as *;
@use "../components" as *;

.career {
  padding: 145px 0 176px 0;

  @include mq("md") {
    padding: 70px 0;
  }

}

.career__title {
  font-size: 32px;
  font-weight: $bold;
}

.career__img {
  margin-top: 48px;
  aspect-ratio: calc(980 / 734);

  img {
    width: 100%;
  }
}

.section__lead {
  margin-top: 113px;
  line-height: 1.7;

  @include mq("md") {
    margin-top: 50px;
  }

}

.career__text {
  margin-top: 37px;
  line-height: 1.7;
  font-size:  24px;

  @include mq("md"){ 
  font-size: 18px;
  }
}

.career__list {
  margin-top: 40px;
}

.career__item {
  margin-top: 37px;

}

.career__item-title {
  font-size: 24px;
  font-weight: $bold;
  padding: 12px 21px;
  background-color: $default-color;
  border-radius: 10px;
  color: $white;

  @include mq("md") {
    font-size: 16px;
  }
}

.career__item-text {
  padding-top: 50px;
  line-height: 1.8;

}