@use "../base" as *;
@use "../components" as *;

.margin {
  margin-top: 118px;
  /* ← ヘッダーと同じ高さを確保 */

  @include mq(md) {
    margin-top: 59px;
  }
}

.ent-margin {
  margin-top: 118px;
}

.entry {
  display: flex;
  padding-block: 33px 57px;
  background-color: $background-color;
  margin-bottom: 139px;
}

.entry-inner {
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-left: clamp(16px, calc((100vw - 880px) / 2), 280px);
  padding-right: clamp(16px, calc((100vw - 880px) / 2), 280px);
}

.entry__wrapper {
  max-width: 880px;
  background-color: $white;
  padding-block: 58px 81px;
  border-radius: 10px;

  @include mq("md") {
    padding-inline: 16px;
  }
}

.entry__header {
  text-align: center;
  padding-bottom: 95px;
  border-bottom: 1px dotted $default-color;
}

.entry__title {
  font-size: 24px;

  @include mq("md") {
    font-size: 18px;
  }
}

.entry__head {
  display: inline-block;
  text-align: left;
  margin-top: 29px;

  span {
    color: #AFA86F;
  }
}

.entry__lead {
  text-align: center;
  font-size: 32px;
  font-weight: $bold;

  @include mq("md") {
    font-size: 24px;
    line-height: 1.7;
  }
}

.entry__lead span {
  color: #AFA86F;
}

.entry__description {
  line-height: 1.7;
  margin-top: 51px;
}

@include mq("md") {
  .entry__note {
    padding-top: 10px;
  }
}

// 入力フォーム

.Form-Item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 27px;

  @include mq("md") {
    flex-direction: column;
    align-items: flex-start;
  }
}

.wpcf7-form {
  margin-top: 97px;
}

.Form-Item-Label {
  display: flex;
  margin-left: 71px;
  width: 163px;

  @include mq("md") {
    margin-left: 0;
  }
}

.Form-Item-Input {
  flex: 1;
  width: 100%;
}

.year {
  display: flex;

  span {
    width: 177px;
  }

  p:nth-child(2) {
    display: flex;
    align-items: center;
  }
}

.Form-Item-Label-Required {
  color: #AFA86F;
}

@include mq("md") {
  .month {
    flex-direction: row;
    align-items: center;
  }
}

.wpcf7-form-control {
  width: 93%;
  padding: 20px;
  background-color: #FAF7F1;
  border-radius: 10px;
  border: 1px solid #AFA86F;

  @include mq("md") {
    margin-top: 10px;
  }
}

// 月日の矢印含む

.form__birth-selects {
  display: flex;
  gap: 25px;

  @include mq("md") {
    flex-direction: column;
  }

  span {
    width: 100%;
  }

  .Form-Item {
    position: relative;
    width: auto;
    display: flex;
  }

  @include mq("md") {
    .birth_day {
      flex-direction: row;
      align-items: center;
      margin-top: 0;
    }
  }

  .wpcf7-year {
    width: 168px;
    margin-right: 10px;
  }

  @include mq("md") {
    .From-Item year {
      display: block;
    }
  }

  .month {
    margin-left: 234px;

    @include mq("md") {
      margin-left: 0;
    }
  }

  .birth__field,
  .birth__label {
    font-size: 12px;
    width: 178px;
    position: relative;

    select,
    .wpcf7-select {
      position: relative;
      z-index: 1;
      width: 100%;
      padding: 22px 52px 22px 20px;
      border: 1px solid #AFA86F;
      background-color: #FAF7F1;
      border-radius: 10px;
      outline: none;
      appearance: none;
      font-size: 12px;
      color: $black;
      cursor: pointer;

      &:focus,
      &:focus-visible {
        outline: 2px solid #005fcc;
        outline-offset: 2px;
        border-color: #AFA86F;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 9px;
      height: 9px;
      top: 40%;
      right: 17%;
      border-top: 1px solid $black;
      border-right: 1px solid $black;
      transform: rotate(135deg);
      pointer-events: none;
      z-index: 2;

      @include mq("md") {
        top: 50%;
        right: 15%;
      }
    }
  }

  .wpcf7-validates-as-required {
    &:not(select) {
      padding: 22px;
    }
  }
}

/* Style for the select box */
.select-box {
  padding: 22px 52px 22px 20px;
  border: 1px solid #AFA86F;
  background-color: #FAF7F1;
  border-radius: 10px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 12px;
  color: $black;


}


.select-box:focus {
  outline: 2px solid #005fcc;
  outline-offset: 2px;
  border-color: #AFA86F;
}

.radio-btn {
  display: flex;
  align-items: flex-start;
}

/* ラジオボタンを隠す */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid #AFA86F;
  background-color: #FAF7F1;
  border-radius: 50%;
  position: relative;
  margin-right: 8px;
  vertical-align: middle;
}

/* 選択されたとき */
input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: $black;
  /* 中の色（黒） */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.wpcf7-radio {
  background-color: $white;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;

  .wpcf7-list-item {
    margin-left: 0;
  }
}

.wpcf7-list-item {
  display: flex;
  align-items: center;
  margin: 0;

  &:not(:first-of-type) {
    margin-top: 15px;
  }
}

.wpcf7-list-item label {
  display: flex;
  align-items: center;
}


.wpcf7-list-item-label {
  vertical-align: middle;
  display: inline-block;
  margin-left: 13px;
  color: $black;
}

.wpcf7-form-control.wpcf7-checkbox {
  background-color: $white;
  border: none;
  width: 100%;
}

.Form-Item.textarea {
  display: flex;
  align-items: flex-start;

  .Form-Item-Label {
    margin-top: 16px;
    margin-right: 44px;
  }

  .wpcf7-form-control-wrap {
    width: 100%;
  }
}

.wpcf7-textarea {
  height: 240px;
}

.Form-Item.checkbox {
  display: flex;
  align-items: flex-start;

  .Form-Item-Label {
    width: 128px;

    @include mq(md) {
      width: auto;
    }
  }
}


.wpcf7-checkbox {
  display: flex;
  flex-direction: column;

  @include mq(md) {
    padding: 0;
  }
}

.checkbox {
  .Form-Item-Label {
    line-height: 1.7;
    margin-top: 30px;
  }

  .wpcf7-form-control-wrap {
    margin-top: 30px;
  }
}

input[type="checkbox"] {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid #bcb396;
  background-color: #FAF7F1;
  cursor: pointer;
  position: relative;

  &:checked {
    background-color: #FAF7F1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: 10px;
    height: 10px;
    background-color: $black;
    display: none;
  }

  &:checked::after {
    display: block;
  }
}

@include mq(md) {
  .checkbox {
    .wpcf7-list-item {
      margin-left: 0;
    }
  }
}

.textarea-xxx {
  flex: 1;

  @include mq(md) {
    width: 100%;
  }
}

.button-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 84px;

  .wpcf7-list-item,
  .wpcf7-submit {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.button-wrap {
  input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #bcb396;
    background-color: #FAF7F1;
    cursor: pointer;
    position: relative;

    &:checked {
      background-color: #FAF7F1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      width: 8px;
      height: 8px;
      background-color: $black;
      display: none;
    }

    &:checked::after {
      display: block;
    }
  }
}

.button-wrap .wpcf7-form-control-wrap {
  .wpcf7-form-control {
    padding: 0;
    background-color: none;
    border-radius: none;
    border: none;
  }
}


.wpcf7-submit {
  padding: 20px 96px;
  width: auto;
  margin-top: 59px;
  background-color: $white;
  border-color: $black;
  border-radius: 0;
  transition: all 0.3s ease;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  // 有効なときだけホバーを許可
  &:enabled:hover {
    background-color: $black;
    color: $white;
  }
}