@use "../base" as *;
@use "../components" as *;

.staff__inner {
  padding-inline: clamp(1rem, -3.643rem + 19.81vw, 14.188rem);
}
.staff {
  margin: 130px 0;
}


.staff-content {
  display: grid; /* グリッドレイアウトにする */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 47px 43px; /* カード同士の隙間 */

  @include mq("lg") {
    align-items: center;
    justify-items: center;
  }
}
