@use "sass:math";

// ================================================
// インナー幅の設定
// ================================================

// コンテンツのインナー幅（Webサイトで一番多いインナー幅で設定）
$inner: 1272px;
$about-inner: 993px;
$service-inner: 1000px;
// ↑この数字はコーディングするデザインによって書き換えてください

// 余白設定
// PC時の余白はデザインに応じたものではなく、最低取っておいた方が良い余白
$padding: 0 248px;
$padding-pc: 0 40px 0 0;
// SP時はデザインカンプに沿って書き換えてください
$padding-sp: 0 17px;

// ================================================
    // 色に関する設定
// ================================================

//色指定（デザインを見てよく使う色は設定！）
$black: #222222;
$white: #ffffff;
$default-color: #afa86f;
$hover-color: #988c2c;
$background-color: #F0F4FA;
$blue: #0c2d6b;
$hover-bg-color:#faf7f1;


// ================================================
  // フォントについての設定
// ================================================

body, address {
  font-size: 16px; /* フォントサイズ */
  font-family: 
    "Shippori Mincho",   /* 日本語用フォント */
    "Alegreya",        /* 英語や多言語用フォント */
    serif;       /* フォールバックフォント */
  font-style: normal; /* フォントスタイル */
}

// フォントウェイト
$regular: 300;
$normal: 400;
$bold: 500;


// ================================================
  // メディアクエリとブレークポイントの設定
// ================================================
//ブレイクポイント(デザインによって異なる)
$breakpoints: (
  sm: 550,
  md: 767,
  lg: 1024,
  xl: 1400,
);


//メディアクエリー
$mediaquerys: (
  sm: "screen and (max-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (max-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (max-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (max-width: #{map-get($breakpoints,'xl')}px)",
);

// @include mq(){}で書くとブレークポイントが反映される（初期値はmd）
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}
/*  PCとSPの表示非表示の切り替え */
/*(md)px以上で表示*/
.pc-only {
  display: block;
  @include mq("md") {
    display: none;
  }
}

/*モバイルのみ表示*/
.sp-only {
  display: none;
  @include mq("md") {
    display: block;
  }
}


/* aタグのスタイルリセット*/
a {
  text-decoration: none;
  display: inline-block;
}

button {
  padding: 0;
}

/* マウスホバーがあるデバイスでのアニメーション（タッチデバイス除く） */
@media (any-hover: hover) {
  a {
    transition: opacity 0.3s;
  }
}
